.wrapper {
  display: flex;
  position: relative;
}

.products {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: 3px solid var(--color-primary);
}

.aside {
  position: sticky;
  height: 300px;
  top: 0;
  left: 0;
}
