.product__container {
  display: flex;
  margin: 10px auto 0;
  max-width: 1000px;
  min-height: 600px;
  /* background-color: brown; */
}

.product__info {
  padding: 10px;
}

.product__title {
  margin-top: 40px;
  text-align: center;
}

.product__price {
  margin-top: 20px;
  font-weight: 600;
}

.product__desc {
  margin-top: 15px;
}
