.container {
  background-color: var(--color-primary);
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 15px 0;
  border-bottom: 1px solid #0077e4;
}

.item__wrapper {
  flex: 1 0 0;
  border-right: 1px solid #0077e4;
}

.item__wrapper:last-child {
  border-right: none;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.active {
  background-color: var(--color-button-hover);
}

@media screen and (max-width: 768px) {
  .container {
    position: absolute;
    width: 100%;
    background-color: transparent;
    left: -100%;
    transition: left 1s;
    z-index: 2;
  }
  .items {
    flex-direction: column;
    row-gap: 15px;
    color: black;
  }

  .item__wrapper {
    border-right: none;
  }

  .open_burger {
    left: 0;
  }
}
