.slider__container {
  display: flex;
  align-items: center;
  background-color: blue;
}

.slider__block {
  display: flex;
  align-items: center;
  width: 330px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slider__img {
  width: 100px;
  height: 150px;
  object-fit: contain;
  cursor: pointer;
}

.slider__img:not(:last-child) {
  margin-right: 15px;
}

.activeSlide {
  border: 3px solid rgb(63, 255, 34);
}