.wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0;
}

.promo__wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 0;
}

.promo__input {
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  padding: 5px 10px;
}

.promo__error {
  color: red;
  font-size: 1.5rem;
}

.footer__price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.total__wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.total__after_discount {
  text-decoration-line: line-through;
  color: red;
}

.total__new {
  color: #008000;
}

.button_clear {
  border: none;
  color: white;
  background-color: var(--color-primary);
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.empty__wrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.empty__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}

.empty_link {
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    align-items: center;
  }

  .footer__wrapper {
    width: 100%;
  }
}
