.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 10px;
  padding: 20px 0;
}

.wrapper > * {
  width: 350px;
  height: 420px;
}
