.search__form {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  background-color: var(--color-primary);
}

.search__container {
  display: flex;
  width: 100%;
}

.search__input {
  border: none;
  padding: 5px;
  flex: 1 0 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search__input:focus {
  outline: none;
}

.search_data {
  position: absolute;
  left: 0;
  top: 110%;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .search__form {
    width: auto;
  }
}
