.registration__form_block {
  position: relative;
}

.registration__form {
  margin-top: 20px;
}

.registration__form,
.personal__field,
.address__field {
  display: flex;
  flex-direction: column;
}

.registration__form input {
  width: 100%;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  padding: 5px 10px;
}

.registration__form select {
  width: 100%;
  padding: 5px 10px;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
}

.registration__form input:focus,
select:focus {
  outline: none;
}

.registration__form input.invalid {
  border: 1.5px solid red;
}

.registration__form input:not(:last-child),
select {
  margin-bottom: 15px;
}

.password__input_block {
  position: relative;
  display: flex;
  align-items: center;
}

.show__password_btn {
  width: 20px;
  height: 20px;
  margin-left: -25px;
  margin-top: -14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.show__password_btn svg {
  width: 20px;
  height: 20px;
}

.eyeIcon {
  opacity: 0.4;
}

.address__title {
  padding-left: 20px;
  margin: 20px 0 10px;
  font-weight: 600;
}

.sign__btn {
  background-color: var(--color-primary);
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  min-width: 70px;
  padding: 5px 10px;
  align-self: center;
  margin: 15px 0;
}

.sign__btn:hover {
  background-color: #0077e4;
}

.error__message {
  margin-bottom: 5px;
  font-size: 16px;
  color: #ff0000;
}

.checkboxes__block_shipping {
  display: flex;
  margin-top: 15px;
}

.checkbox__label {
  display: flex;
  align-items: center;
}

.checkbox__label input[type='checkbox'] {
  width: 20px;
  height: 20px;
  transform: scale(0.75);
  margin-bottom: 0;
  cursor: pointer;
}

.checkbox__label span {
  font-size: 17px;
}

.checkbox__show_billing {
  position: absolute;
  width: 200px;
  left: 165px;
}

.checkbox__default_block_shipping {
  margin-top: 15px;
}
