.registration__form_block {
  position: relative;
}

.registration__form {
  margin-top: 20px;
}

.registration__form,
.personal__field,
.address__field {
  display: flex;
  flex-direction: column;
}

.registration__form input {
  width: 350px;
  height: 25px;
  padding: 8px;
  font-size: 1.6rem;
  border: 1.5px solid #319dff;
  border-radius: 7px;
}

.registration__form select {
  width: 350px;
  height: 25px;
  padding-left: 8px;
  font-size: 1.5rem;
  border: 1.5px solid #319dff;
  border-radius: 7px;
}

.registration__form input:focus,
select:focus {
  outline: none;
}

.registration__form input.invalid {
  border: 1.5px solid red;
}

.registration__form input:not(:last-child),
select {
  margin-bottom: 15px;
}

.password__input_block {
  position: relative;
  display: flex;
  align-items: center;
}

.show__password_btn {
  width: 20px;
  height: 20px;
  margin-left: -25px;
  margin-top: -14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.show__password_btn svg {
  width: 20px;
  height: 20px;
}

.eyeIcon {
  opacity: 0.4;
}

.address__title {
  padding-left: 20px;
  margin: 20px 0px 10px;
  font-weight: 600;
}

.sign__btn {
  width: 130px;
  height: 31px;
  margin-top: 15px;
  font-size: 2rem;
  background-color: #319dff;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}

.sign__btn:hover {
  background-color: #0077e4;
}

.error__message {
  margin-bottom: 5px;
  font-size: 16px;
  color: #ff0000;
}

.checkbox__block {
  position: relative;
}

.checkbox__label {
  display: flex;
  align-items: center;
}

.checkbox__label input[type='checkbox'] {
  width: 40px;
  transform: scale(0.75);
  margin-bottom: 0;
  cursor: pointer;
}

.checkbox__label span {
  position: absolute;
  left: 40px;
  font-size: 17px;
}

.checkbox__block_billing {
  position: absolute;
  width: 200px;
  top: 397px;
  left: 165px;
}
