.registration__form {
  margin-top: 20px;
}

.registration__form,
.address__field {
  display: flex;
  flex-direction: column;
}

.registration__form input {
  width: 350px;
  height: 22px;
  font-size: 1.6rem;
  border: none;
  border-bottom: 2.5px solid #319dff;
}

.registration__form input:not(:last-child) {
  margin-bottom: 15px;
}

.address__title {
  padding-left: 20px;
  margin: 20px 0px 10px;
  font-weight: 600;
}

.sign__btn {
  width: 130px;
  height: 31px;
  margin-top: 15px;
  font-size: 2rem;
  /* font-weight: 600; */
  background-color: #319dff;
  color: #fff;
  border: none;
  transition: background-color .3s;
}

.sign__btn:hover {
  background-color: #0077e4;
}

.error__message {
  font-size: 16px;
  color: #ff0000;
}