.nav {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: var(--color-text-primary);
  padding: 5px;
}

.nav__item:hover {
  color: var(--color-primary);
  transition: color 0.5s;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.nav__description {
  font-size: 1.5rem;
}
