.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__logo {
  font-size: 3rem;
  color: var(--color-button-hover);
}

.button__category {
  height: 80%;
  border-radius: 5px;
}
