.btn {
  background-color: #319dff;
  background-color: var(--color-primary);
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  min-width: 70px;
  padding: 5px 10px;
}